* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: auto;
    height: auto;
    /* padding: 1rem; */
    border: 1px solid red;
}

div.title {
    display: flex;
    text-align: left;
    border: 1px solid black;
    

    width: 600px;
    height: auto;
    background-color: #C4C4C4;
}

.title p {
    font-size: 1.5rem;
    padding: 0.75rem 1rem;
}

.showMessages {
    overflow: auto;
    /* overflow-x: hidden; */
    width: 34.375rem;
    height: 22.75rem;
}

.messageArea {
    text-align: right;
}

.message {
    margin-top: 0.5rem;
}

.txtMessage {
    width: 34.2rem;
    min-height: 3.2rem;
    background-color: white;
    border: 1px solid black;
    resize: none;
    padding: 0.5rem 1rem;    
}

/* Buttons Edit and Delete  */
.messageArea .btnEdit {
    background-color: #F6A75D;
    padding: 0.25rem 0.4rem;
    border: 1px solid;
    border: none;
    cursor: pointer;
}

.messageArea .btnDel {
    background-color: #F65D5D;
    padding: 0.25rem 0.4rem;
    border: 1px solid;
    border: none;
    cursor: pointer;
}

.messageArea .btnConfirm {
    background-color: #0066CC;
    padding: 0.25rem 0.4rem;
    border: 1px solid;
    border: none;
    cursor: pointer;
}

.finalContainer {
    display: flex;
    border: 1px solid red;
    width: 28.125rem;
    height: 8.125rem;
    background-color: #C4C4C4;
}

.containerInter {
    display: flex;
    gap: 0.75rem;
    padding: 0.25rem;
}

#btnEnviar {
    background-color: #0066CC;
    color: white;

    width: 4rem;
    height: 2rem;
    /* padding: 0.5rem; */
    border: 1px solid black;
    border-radius: 0.5rem;
}

.containerInter #txtArea {
    width: 350px; 
}